*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button {
  border: none;
  outline: none;
}


html {
  font-size: 62.5%;
  scroll-padding-top: 7rem; /* khi click để chuyển đến section cần chuyển thì lúc này pađing top là 7rem bỏ đi header sẽ nhìn content gõ hơn */ 
  @include for-size(991) {
    font-size: 55%;
  }
  @include for-size(768) {
    font-size: 55%;
  }
  @include for-size(450) {
    font-size: 50%;
  }
  scroll-behavior: smooth; /* 
    Khi làm về web, nhất là với các loại landing page chúng ta thường hay sử dụng thanh menu để "nhảy" đến 1 phần nào đó của trang. Để làm được điều đó thì rất đơn giản, chỉ việc gắn link thẻ a với ID của phần muốn trỏ tới là xong.
    smooth giúp mượt hơn
  */
}

body {
  background-color: #eee;
  text-transform: capitalize;
  font: {
    size: 1.8rem;
    weight: 600;
    family: 'Nunito', sans-serif;
  }
  color: black;
  overflow-x: hidden;
  /* @include for-size(575) {
    font-size: 1.6rem;
  } */
}
section,
header,
footer {
  max-width: 192rem;
  margin: 0 auto;
}

// .container {
//   @include for-size(1200) {
//     padding-left: 0;
//     padding-right: 0;
//   }
// }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
dl,
dt,
dd,
table,
tr,
td,
figure,
figcaption,
label {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // line-height: 1;
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  transition : all 0.2s linear; 
  /* @include transition(all 0.3s ease); */
  &:hover {
    text-decoration: none;
  }
  &:focus,
  &:active {
    outline: none !important;
  }
}

button {
  cursor: pointer;
  &:focus,
  &:active,
  &:hover,
  &:visited,
  &:link {
    outline: none;
    border: none;
    border-radius: 0px;
  }
}

ul {
  list-style: none;
}

